<ion-header>
  <ion-toolbar class="cor-fundo">
    <button slot="start" class="button">
      <ion-menu-button>

      </ion-menu-button>

    </button>

    <ion-title class="title">Pedidos</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar (ionInput)="filtrar($event)" placeholder="Pesquisar" color="danger"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let key of arr3">
    <ion-item *ngIf="key.excluido == false">
    <ion-item (click)="detalhes(key.uid) ">
      <ion-label>
        Nome: {{key.nomeCli}} 
        
      </ion-label>
      
      <ion-label>Data: {{ key.data| date:'dd/MM/yyyy'}}</ion-label>
      
    </ion-item>  
    <ion-icon (click)="remove(key)" color="danger" name="trash" slot="end"></ion-icon>  
  </ion-item>
  
  </div>
         
    
</ion-content>
