.title{
    
    color: white;
    font-size: 30px;
     }

     ion-button{
         width:100%;
         padding-top: 35px;
         font-size: 18px;
         height: 72px;
         
     }

.cor-fundo{
    --background: red;
    color:white;
}

ion-item{
    color: red;
    font-size: 18px;

}

ion-img {
    height: 100px;
    width: 100px;
    border: 1px solid green;
    border-radius: 100px;
    padding: 14px;
}

.upload-icon {
    font-size: 80px;
    color: #777;
}
