<ion-header>
  <ion-toolbar class="cor-fundo">
      <ion-buttons slot="start">
          <ion-back-button> </ion-back-button>
        </ion-buttons>
    <ion-title class="title">Carrinho</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-list>

    <ion-item *ngFor="let item of cart" lines="inset">
      {{ item.amount }}x {{ item.nome }} 
      <ion-label slot="end" text-right>{{ (item.preco ) | currency:'BRL':'symbol' }}</ion-label>
    </ion-item>

    <ion-item>
      Total: <span slot="end">{{ total | currency:'BRL':'symbol' }}</span>
    </ion-item>

    <ion-item>
    
      
      Data: <ion-datetime displayFormat = "DD/MM/YYYY" [min] = "minDate" 
                      [max]= "maxDate" [(ngModel)]= "this.data">  </ion-datetime>
      
    </ion-item>
    <ion-item>
      Forma de Pagamento:
      <ion-select name="perfil" [(ngModel)]="this.formaPagamento" placeholder="Selecione ">
        <ion-select-option >Dinheiro</ion-select-option>
        <ion-select-option >Cartão</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
<ion-row>
  <ion-button color="danger" (click)="comprar()"> Comprar </ion-button>
</ion-row>
</ion-content>

