<ion-header>
  <ion-toolbar class="cor-fundo">
    <button slot="start" class="button">
      <ion-menu-button>

      </ion-menu-button>

    </button>

    <ion-title class="title">Histórico de pedidos</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar (ionInput)="filtrar($event)" placeholder="Pesquisar" color="danger"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content><ion-content>
  <div *ngFor="let key of clientes">
    <ion-item (click)="detalhes(key.uid) ">
      <ion-label>
        Nome: {{key.nome}} 
        
      </ion-label>
      
      <ion-label>Cpf: {{ key.cpf}}</ion-label>
    </ion-item>
  
  </div>
         
    
</ion-content>
  
</ion-content>
