<ion-header>
  <ion-toolbar class="cor-fundo">
    <ion-buttons slot="end">
      <ion-button (click)="voltar()" ><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="title">Detalhes do Histórico</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar (ionInput)="filtrar($event)" placeholder="Pesquisar" color="danger"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <div *ngFor="let key of pedidos">
    <ion-item (click)="detalhes(key.uid) ">
      <ion-label>
        Nome: {{key.nomeCli}} 
        
      </ion-label>
      
      <ion-label>Data: {{ key.data| date:'dd/MM/yyyy'}}</ion-label>
    </ion-item>
  
  </div>
         
    
  
</ion-content>
