<ion-header>
  <ion-toolbar class="cor-fundo">
    <button slot="start" class="button">
      <ion-menu-button>

      </ion-menu-button>

    </button>

    <ion-title class="title">Histórico dos Pedidos</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar (ionInput)="filtrar($event)" placeholder="Pesquisar" color="danger"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let cli of clientes">
  <ng-container *ngFor="let arrays of pedidos2">
    <div *ngIf="this.uid == arrays.uid">
    <div *ngFor="let key of pedidos">
      <div *ngIf="this.uid == cli.uid">
    <ion-item (click)="detalhes(key.uid) ">
      <ion-label>
        Nome: {{cli.nome}} 
        
      </ion-label>
      
      <ion-label>Data: {{ key.data| date:'dd/MM/yyyy'}}</ion-label>
    </ion-item>
  </div>
</div>
</div>

    </ng-container>
  </div>
  </ion-content>
         
    
  