<ion-header>
  <ion-toolbar class="cor-fundo">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalhes do Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons slot="end">
    <ion-button (click)="voltar()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-list>

    <ng-container>
      <div *ngFor="let p of arr4">
        <div *ngIf="p.uidPedidos == this.novoUid">

          <ion-item>
            {{ p.quantidadeProduto }}x {{ p.nomeProduto }}
            <ion-label slot="end" text-right>{{ (p.precoProduto ) | currency:'BRL':'symbol' }}</ion-label>
          </ion-item>
        </div>
      </div>

      <div *ngFor="let arrays of arr3">
        <div *ngIf="this.novoUid == arrays.uid">
          <ion-item>
            Total: <span slot="end">{{ arrays.total | currency:'BRL':'symbol' }}</span>
          </ion-item>
          <ion-item>
            Forma de Pagamento: <span slot="end">{{ arrays.formaPagamento }}</span>
          </ion-item>

          <ion-item>
            <ion-label>Data do Pedido: {{ arrays.data| date:'dd/MM/yyyy'}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Data de Entrega: {{ arrays.data_entrega| date:'dd/MM/yyyy'}}</ion-label>
          </ion-item>
        </div>
      </div>
    </ng-container>
  </ion-list>

  <ion-row>
    <ion-button color="danger" (click)="voltar()"> Voltar </ion-button>
  </ion-row>
</ion-content>