.category-block{
    margin-bottom: 4px;
    font-size: 20px;
    
}

.category-banner{

    border-left: 8px solid ;
    margin-top: 5px;
    background: white;
    color: red;
    height: 40px;
    padding: 5px;
    font-weight: 500;

}


.button{

    background-color: red;
    color:white;

 }
 ion-card-content{
     position: relative;
 }

ion-badge{
    color: white;
    position: absolute;
    top:0px;
    right: 0px;
    border-radius: 100%;
}


.cor-fundo{
    --background: red;
    color:white;
}

.title{
    
    color: white;
    font-size: 30px;
     }

     ion-col{
         font-size: 20px;
     }
