<ion-header>
  <ion-toolbar class="cor-fundo">
    <button slot="start" class="button">
      <ion-menu-button>

      </ion-menu-button>

    </button>
    <ion-title class="title">Home</ion-title>
    
    <ion-buttons slot="end">

      <div *ngIf="administrador">
      <ion-button (click)="openPedidos()">
        <ion-badge *ngIf="arr4.length > 0">
          {{ quantPedidos.length}}
        </ion-badge>
        <ion-icon name="md-notifications"></ion-icon>
      </ion-button>
      </div>
      
      <div *ngIf="!administrador">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">
          {{ cart.length}}
        </ion-badge>
        <ion-icon name="cart" slot="icon-only">
        </ion-icon>
      </ion-button>
    </div>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  <div *ngFor="let cat of categorias">
    
    <ion-row no-padding class="category-banner">
      
      <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
        {{cat.nome}}
      </ion-col>
    </ion-row>
    
  <ion-list *ngIf="cat.expanded">
    <ion-item-sliding *ngFor="let p of arr3">
      <div *ngIf="cat.uid == p.categoriaId && p.excluido != true">
        <ion-item>
      <ion-item (click)="detalhes(p)" class="item">
        <ion-avatar slot="start">
          <img [src]="p.foto">
        </ion-avatar>

        <ion-label>
          {{ p.nome }}
          <p >{{ p.descricao }}</p>

          <ion-note color="primary" slot="end" *ngIf="p.preco" class="descricao">{{ p.preco | currency: 'BRL' }}</ion-note>
        </ion-label>   
      </ion-item>

      <div *ngIf="!administrador" class="butaoRemove">
        <ion-icon  name="remove-circle" color="danger" (click)="decrementarProduto(p)" ></ion-icon>
      </div>

        <div *ngFor="let item of cart" class="quant">
          <div *ngIf="p.uid == item.uid" >
            <p  >{{ item.quantidade }}</p>
          </div>
        </div>

        <div *ngIf="!administrador" class="butaoAdd" slot="end" >
        <ion-icon name="add-circle" color="primary" expand="full" (click)="addToCart(p)" ></ion-icon>
      </div>

      </ion-item>
    </div>
    </ion-item-sliding>
  </ion-list>
  </div>
</ion-content>