<ion-header>
  <ion-toolbar class="cor-fundo">
      <button slot="start" class="button">
          <ion-menu-button> 
    
          </ion-menu-button>
          
        </button>
    <ion-title class="title">Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirCarrinho()">
        <ion-badge *ngIf= "cart.length > 0">
           {{ cart.length}}
        </ion-badge>
        <ion-icon name="cart" slot="icon-only">

        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor=" let cat of categoriaList" class="bloco-categoria">

    <ion-row no-padding class="baner-categoria">
      <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
        {{cat.nome}}
      </ion-col>
    </ion-row>

    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let produto of produtos">
        <div *ngIf="cat.expanded ">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{produto.nome}} -R${{produto.preco}}
              </ion-card-title>
              <ion-card-content>
                 <img [src]="produto.foto">
                 <ion-button expand="full" (click)="addCart(produto)"> Adicionar </ion-button>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>