<ion-header>
  <ion-toolbar class="cor-fundo">
    <button slot="start" class="button">
      <ion-menu-button>

      </ion-menu-button>

    </button>
    <ion-title class="title">Home</ion-title>
    
    <ion-buttons slot="end">

      <div *ngIf="administrador">
      <ion-button (click)="openPedidos()">
        <ion-badge *ngIf="arr3.length > 0">
          {{ arr3.length}}
        </ion-badge>
        <ion-icon name="md-notifications"></ion-icon>
      </ion-button>
      </div>
      
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">
          {{ cart.length}}
        </ion-badge>
        <ion-icon name="cart" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  <div>
    

    <ion-row no-padding class="category-banner">
      
      <ion-col text-left button tappable (click)="beb = !beb" align-self-center>
        Bebidas
      </ion-col>
    </ion-row>

    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let b of bebidas">
        <div *ngIf="beb">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{ b.nome }} - {{ b.preco  | currency: 'BRL' }}
              </ion-card-title>
              <ion-card-content>

                <img [src]="b.foto">
                <ion-row>
            
                <ion-icon class="icon" name="remove-circle" color="danger" (click)="decrementarProduto(b)"></ion-icon>
                
                <div *ngFor="let item of cart">
                  <div *ngIf="b.uid == item.uid" >
                    <p class="quant">{{ item.amount }}</p>
                  </div>
                </div>
                <ion-icon class="icon"  name="add-circle" color="primary" expand="full" (click)="addToCart(b)"></ion-icon>
               
              </ion-row>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  
  <div>
    <ion-row no-padding class="category-banner">
      <ion-col text-left button tappable (click)="ali = !ali" align-self-center>
        Alimentos
      </ion-col>
    </ion-row>

    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let a of alimentos">
        <div *ngIf="ali">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{ a.nome }} - {{ a.preco  | currency: 'BRL' }}
              </ion-card-title>
              <ion-card-content>

                <img [src]="a.foto">
                <ion-row>
            
                <ion-icon name="remove-circle" color="danger" (click)="decrementarProduto(a)"></ion-icon>
                
                <div *ngFor="let item of cart">
                  <div *ngIf="a.uid == item.uid">
                    {{ item.amount }}
                  </div>
                </div>
                <ion-icon name="add-circle" color="primary" expand="full" (click)="addToCart(a)"></ion-icon>
               
              </ion-row>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <ion-row no-padding class="category-banner">
      <ion-col text-left button tappable (click)="lim = !lim" align-self-center>
        Limpeza
      </ion-col>
    </ion-row>

    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let l of limpeza">
        <div *ngIf="lim">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{ l.nome }} - {{ l.preco  | currency: 'BRL' }}
              </ion-card-title>
              <ion-card-content>

                <img [src]="l.foto">
                <ion-row>
            
                <ion-icon name="remove-circle" color="danger" (click)="decrementarProduto(l)"></ion-icon>
                
                <div *ngFor="let item of cart">
                  <div *ngIf="l.uid == item.uid">
                    {{ item.amount }}
                  </div>
                </div>
                <ion-icon name="add-circle" color="primary" expand="full" (click)="addToCart(l)"></ion-icon>
               
              </ion-row>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>