<ion-header>
  <ion-toolbar class="cor-fundo">
    <button slot="start" class="button">
      <ion-menu-button>

      </ion-menu-button>

    </button>
    <ion-title class="title">Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input [(ngModel)]="novoPerfil.description" placeholder="Digite a descrição"></ion-input>
  
  <ion-toggle [(ngModel)]="novoPerfil.isAdmin" color="primary"></ion-toggle> Administrador?
  

  <ion-button (click)="save()" expand="block">CADASTRAR</ion-button>
</ion-content>
