<ion-header>
  <ion-toolbar class="cor-fundo">
      
    <ion-title class="title">Detalhes do Produto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-buttons slot="end">
      <ion-button (click)="voltar()" ><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
    <img src="{{novoProduto.foto}}" />
    
    <ion-card-content>
      <ion-card-title>
      {{novoProduto.nome}} - {{novoProduto.preco  | currency: 'BRL' }}
      </ion-card-title>
      <p [innerHtml]="novoProduto.descricao"></p>
    </ion-card-content>
  </ion-card>

</ion-content>